#s1 {background: url("main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-origin: border-box;
    background-clip: padding-box;*/
    background-attachment: fixed;
    /*border: 5px dashed red;*/
    /*background-image: linear-gradient(270deg, white, blue, violet, orange);*/
    /*background-image: radial-gradient(white, blue);*/
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 40vh;
    position: relative;
    }

#s1 h1 {
    color: white;
    padding: 0;
    margin: 0;
}
#s1 h2 {
    color: rgb(199, 81, 199);
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#s1 > h2 {
    position: absolute;
    left: 2%;
    bottom: 4%;
}
#s1 > h1 {
    position: absolute;
    left: 2%;
    bottom: 16%;
}

#plans {
    margin-top: 5rem;
}
.section_title {
    text-align: center;
}
#plans > div {
    width: 90%;
    margin: auto;
    text-align: center;
}
.plan {
    background-color: rgb(165, 195, 250);
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan_highlight {
    background-color: rgb(134, 174, 248);
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.reco {
    color: cornflowerblue;
    background-color: white;
    padding: 0.25rem 0;
    border-radius: 8px;
    box-shadow: 1px 1px 1px  1px  rgba(0, 0, 0, 0.25);
}
.plan_time {
    color: cornflowerblue;
}
.plan_price {
    color: rgb(160, 160, 160);
}
.plan_highlight .plan_time {
    color: white;
}
.plan_highlight .plan_price {
    color: rgb(94, 94, 94)
}
.plan_features {
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan_features li {
    margin: 0.5rem 0;
}

#reasons {
    background-color: rgb(83, 197, 201);
    margin-top: 5rem;
    padding: 1rem;
}
#reasons > .section_title {
    color: white;
}
#reasons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#reasons li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
#reasons li p {
    color: white;
    font-weight: bolder;
    font-size: 1.125rem;
}
#reasons div {
    background-color:rgb(202, 253, 255);
    width: 128px;
    height: 128px;
    border: 1.5px solid black;
    border-radius: 50%;
    margin: auto;
}

#reason_review {
    background: url("review.png");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}
#reason_guarantee {
    background: url("guarantee.png");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}
#reason_delivery {
    background: url("delivery.png");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
.modal h1 {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
.modal_actions {
    text-align: center;
  }
  
.modal_action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

.modal_action:hover,
.modal_action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
.modal_action_negative {
    background: red;
    border-color: red;
  }
  
.modal_action_negative:hover,
.modal_action_negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }