@font-face {
    font-family: "anonymousPro";
    src:url("anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "anonymousPro";
    src:url("anonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

.background {
    background: url("../main.jpg") center/cover;
    filter: grayscale(25%);
    width: 100%;
    height: 100vh;
    /*background-size: cover;
    background-repeat: no-repeat;*/
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 2px solid grey;
    border-left: none;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    border-color: yellowgreen;
    animation: up 400ms forwards;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
}

.package h2 {
    color: rgb(119, 119, 119);
}

.package p {
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 0.5rem;
    background: white;
    /*font-family: "Roboto", sans-serif;
    font-style: italic;
    font-family: "anonymousPro-Bold", sans-serif;
    font-weight: 700;*/
    /*font: style variant weight size line-height family*/
}

.floatclear {
    clear: both;
}

#sunset {
    background: rgba(164, 196, 255, 0.85);
    margin-top: 4rem;
}

#sunset h3 {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 0.75rem;
    color: white;
    background: rgb(7, 89, 92);
    padding: 0.5rem 1rem;
    transform: rotateZ(45deg) translateX(2.8rem) translateY(-1rem);
    /*transform-origin: center;*/
    width: 10rem;
    text-align: center;
}

#morning {
    background: rgba(146, 184, 255, 0.85);
    float: right;
    border-right: none;
    border-left: 2px solid grey;
    text-align: right;   
}

#morning:hover,
#morning:active {
    border-left-color: yellowgreen;
}

#dawn {
    background: rgba(117, 165, 255, 0.85);
}

#dawn h1 {
    color: white;
}

#dawn h2 {
    color:rgb(116, 116, 116);
}

@media (min-width: 40rem) {
    main {
      margin: 0;
      /*margin: 0 auto;*/
      max-width: 1500px;
      padding-top: 1.2rem;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 2px solid grey;
    }

    #morning {
        border-right: 2px solid grey;  
    }

    #morning:hover,
    #morning:active {
        border-right-color: yellowgreen;
    }
}

@keyframes up {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-1rem)
    }
    100% {
        transform: translateY(-0.5rem)
    }
}